.profileCreation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.profileCreation > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2vw;
  width: 40vw;
}

.profileCreation > div > div {
  width: 25vw;
}

.profileCreation > div .navLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  color: black;
}

.profileCreation > div .navLink .dash {
  content: '';
  border: solid black 0.5px;
  width: 1rem;
}

.profileCreation > div .form {
  margin-top: 1rem;
}

.profileCreation > div .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profileCreation > div .form form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  font-size: 1rem;
  padding: .4rem 0;
  text-align: center;
  margin: .5rem 0;
}

.profileCreation > div .form form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.profileCreation > div .form form label.forCheckbox:after {
  position: absolute;
  right: 0;
  content: '';
  height: 2rem;
  width: 2rem;
  border: black solid 2px;
  border-radius: .3rem;
}

.profileCreation > div .form form input[type=checkbox] {
  display: none;
}

.profileCreation > div .form form input[type=checkbox]:checked ~ label:after {
  content: '\2713';
  font-size: 1.6rem;
  display: inline-block;
  color: black;
}

.profileCreation > div .form form button[type=submit] {
  color: white;
  background-color: #26B4F9;
  border: solid #26B4F9 1.5px;
  -webkit-transition: 200ms;
  transition: 200ms;
  padding: .7rem;
}

.profileCreation > div .form form button[type=submit]:hover {
  background-color: white;
  color: #26B4F9;
}
/*# sourceMappingURL=profileCreation.css.map */