.signUp{
    display: flex;
    align-items: center;
    justify-content: center;
    &>*{ margin: 1rem 0; }
    .navLink{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: black;
        text-decoration: none;
        transition: 200ms;
        &>*{
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30vw;
        &>*{
            margin-bottom: .5rem;
            padding: .5rem .7rem;
        }
    }
}