.imgTextBlock{
    &>*{ margin: 7vh 10vw; }
    display: flex;
    flex-direction: column;
    div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: start;
        &>*{
            display: flex;
            flex-direction: column;
        }
        img{
            max-width: 40vw;
        }
        ul{
            list-style: none;
            font-size: 1.25rem;
            &>*{
                margin-bottom: .5rem;
            }
        }
    }
}