$button-color: white;
$button-bg: #26B4F9;
$buttonSecondary: #4BD37B;
.grayButton{
    text-decoration: none;
    background-color: $button-bg;
    color: $button-color;
    padding: .5rem .8rem;
    border: rgba(0, 0, 0, 0) solid 1.5px;
    transition: 200ms;
    border-radius: 5px;
    &:hover{
        background-color: rgba(0, 0, 0, .5);
    }
}
.buttonColored{
    border: solid rgba(0, 0, 0, 0) 1.5px;
    background-color: $button-bg;
    color: $button-color !important;
    padding: .5rem .8rem;
    transition: 200ms;
    text-decoration: none;
    border-radius: 5px;
    &:hover{
        border-color: $button-bg;
        background-color: rgba(0, 0, 0, 0);
        color: $button-bg !important;
    }
    &.invert{
        border-color: $button-bg;
        background-color: $button-color;
        color: $button-bg !important;
        &:hover{
            background-color: $button-bg;
            color: $button-color !important;
        }
    }
    &.secondary{
        background-color: $buttonSecondary;
        &:hover{
            color: $buttonSecondary !important;
            background-color: $button-color;
            border-color: $buttonSecondary;
        }
    }
    &.full:hover{
        border-color: $button-bg;
        background-color: $button-color;
        color: $button-bg !important;
    }
}

// overlay
.overlay{
    display: flex;
    position: relative;
    overflow: hidden;
    div, img{
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

// button text
.buttonText{
    border: none;
    background: none;
    font-size: 1rem;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
}